
.skills-content {
    display: flex;
}
.software-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.software-icons img {
    width: 10em;
    padding: 1em;
    cursor: pointer;
    transition: .3s ease;
    position: relative;
}
.software-icons .imgs {
    position: relative;
    border-bottom: .2em solid #6C63FE;
    margin: 1em;
}
.software-icons .imgs::before {
    /* transform: scale(1.1); */
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: #6C63FE;
    border-radius: 10px 10px 0 0;
    transition: .3s ease;
}
.software-icons .imgs:hover::before {
    height: 100%;
}
.skill-details .skill-context {
    margin-bottom: 2em;
}